header {
  padding: 1.6rem 0 1rem;
}

.logo {
  width: 40px;
  display: inline;
  vertical-align: middle;
}

/*header::after {
  background: linear-gradient(to right, #34495e, #ecf0f1);
  content: '';
  width: 100%;
  position: absolute;
  top: 52px;
  height: 2px;
  left: 0;
}*/

a {
  text-decoration: none;
}

.domain {
  margin-left: 0.4rem;
}

.domain, .domain a {
  font-size: 0.6rem;
  color: #95a5a6;
}

.domain a:hover {
  text-decoration: underline;
}
